* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.container-banner {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 450px;
}

.foto-banner {
  position: relative;
}

.container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.container-banner h1 {
  display: flex;
  align-self: flex-end;
  margin: 63px 5%;
}

.container-banner form {
  display: flex;
  align-self: flex-end;
  margin: 63px 5%;
}

.button-register {
  width: 164px;
  height: 64px;
}

.input-email {
  padding: 16px;
  width: 350px;
  font-size: 14px;
  font-weight: 400;
  height: 64px;
}
