.container-footer {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  background: #1188EE;
}

.elements-footer {
  padding: 0 30px;
  color: #fff;
}
