.container-section-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.container-section-contact h2 {
  font-family: Alice;
  font-weight: normal;
  font-size: 72px;
  line-height: 82px;
  color: #445566;
}

.sub-container-contact {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.sub-container-contact form {
  display: flex;
  flex-direction: column;
  /* margin: 15px; */

}

.container-input-contact {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  width: 100%;
}

.container-input-contact label {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #445566;
}

.container-input-contact input {
  width: 34em;
  height: 50px;
  border: none;
  background: #EFF4F9;
  box-shadow: 0px 2px 2px rgba(187, 204, 221, 0.4);
  border-radius: 5px;
}

.container-input-contact textarea {
  max-width: 34em;
  height: 180px;
  border: none;
  background: #EFF4F9;
  box-shadow: 0px 2px 2px rgba(187, 204, 221, 0.4);
  border-radius: 5px;
}

.container-information {
  display: flex;
}

.image-icons-information {
  margin-top: -210px;
}

.title-information-address {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  text-align: left;
  color: #445566;
} 

.information-address {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #445566;
  margin-bottom: 5px;

}

.map-indication {
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  text-align: left;
  color: #445566;
  display: flex;
  align-items: center;
}

.map-indication img {
  margin-left: 7px;
}

.container-detail-informations {
  margin-top: 20px;
}

.container-detail-informations::after {
  content: '';
  width: 270px;
  height: 2px;
  display: inline-block;
  background: #EFF4F9;
}


.container-detail-informations-hour {
  margin-top: 20px;
}

.title-information-hour {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  text-align: left;
  color: #445566;
}

.title-information-hour::before {
  content: '';
  width: 8px;
  display: inline-block;
  margin: 0 6px 0 0;
  height: 8px;
  border-radius: 50%;
  border: 2px solid #16C70B;
}

.button-send-message {
  border: none;
  background: #445566;
  box-shadow: 0px 2px 2px rgba(187, 204, 221, 0.4);
  border-radius: 5px;
  width: 230px;
  height: 50px;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-self: flex-start;
}

.trace {
  width: 2px;
  display: flex;
  align-self: center;
  height: 477px;
  background: #EFF4F9;
  
}

@media screen and (max-width: 1080px) {

  .sub-container-contact {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
  }

  .trace {
    display: none;  
  }

  .image-icons-information {
    margin-top: 0;
  }
}

@media  screen and (max-width: 597px) {
  .sub-container-contact {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
  }

  .image-icons-information {
    display: none;
  }

  .trace {
    display: none;  
  }
}

@media screen and (max-width: 510px) {
  .container-input-contact input {
    width: 28em;
  }
}

@media screen and (max-width: 380px) {
  .title-section-contact h2 {
    font-size: 32px;
  }
  .container-section-contact {
    margin: 0;
    padding: 0;
  }
  .sub-container-contact {
    margin: 0;
  }
}

